* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: var(--lavender, #c4d2f5);
}

.player {
  border-radius: 20px;
  background: var(--white, #fff);
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

.player-track-title,
.player-track-artist,
.player-time.current,
.player-time.total {
  font-family: Inter;
  color: var(--gray, #909090);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.player-track-title {
  color: var(--black, #000);
  font-size: 18px;
}
