* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: var(--lavender, #c4d2f5);
}

audio {
  display: none;
}

.player {
  border-radius: 20px;
  background: var(--white, #fff);
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  margin: 100px 0 0 100px;
}

.player-track-title,
.player-track-artist,
.player-time.current,
.player-time.total {
  font-family: Inter;
  color: var(--gray, #909090);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}

.player-track-title {
  color: var(--black, #000);
  font-size: 18px;
}

.player-progress {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
.player-progress-bar {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 3px;
  background: var(--light-gray, #f6f6ef);
}

.player-progress-inner {
  background: var(--purple, #e783bc);
}

.player-button.play,
.player-button.pause {
  color: #fff;
  font-size: 20px;
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  background: var(--purple, #e783bc);
}
